header {
    direction: rtl;
    height: 85px;
    border-bottom: 1px solid #ebebeb;

    .right {
        height: 85px;

        .top-menu {
            height: 85px;

            .brand {
                padding-right: 2%;
            }
        }
    }

    .left {

        height: 85px;

        .search-area {


            box-sizing: border-box;
            height: 85px;

            form {
                border-right: 1px solid #ebebeb;
                height: 85px;
                position: relative;

                input {
                    height: 85px;
                    width: 200px;
                    padding: 0 60px 0 15px;
                    color: #787878;
                    font-size: 14px;
                    font-weight: 500;
                    transition-duration: 500ms;
                    border: none;
                    border-bottom: 1px solid #ebebeb;
                    &:focus {
                        width: 350px;
                        border: none;
                        outline: none !important;
                        border-bottom: 1px solid #ebebeb;
                    }
                }

                button {
                    text-transform: none;
                    position: absolute;
                    top: 40%;
                    right: 30px;
                    background-color: transparent;
                    border: none;
                    color: #787878;
                }
            }
        }

        .favorite {
            width: 90px;
            height: 100%;
            display: block;
            border-right: 1px solid #ebebeb;
            line-height: 80px;

            a {
                width: 90px;
                height: 100%;
                display: block;
                border-right: 1px solid #ebebeb;
                line-height: 80px;
                text-align: center;
                img {
                    max-width: 25px;
                    height: auto;
                }
            }
        }
        .user-login-info {
            width: 90px;
            height: 100%;
            display: block;
            border-right: 1px solid #ebebeb;
            line-height: 80px;

            a {
                width: 90px;
                height: 100%;
                display: block;
                border-right: 1px solid #ebebeb;
                line-height: 80px;
                text-align: center;
                img {
                    max-width: 25px;
                    height: auto;
                }
            }
        }
        .cart-area   {
            width: 90px;
            height: 100%;
            display: block;
            border-right: 1px solid #ebebeb;
            line-height: 80px;

            a {
                width: 90px;
                height: 100%;
                display: block;
                border-right: 1px solid #ebebeb;
                line-height: 80px;
                text-align: center;
                img {
                    max-width: 25px;
                    height: auto;
                }
            }
        }

    }

}

.welcome-area{
    width: 100%;
    height: 600px;
    .container{
        padding: 0 5% ;
        margin: 0 auto;
        width: 100%;
        .row{
            display: flex;
            flex-wrap: wrap;
            align-items: center!important;
            .col-12{
                flex: 0 0 100%;
                width: 100%;
                .hero-content{
                    background: transparent;
                    h6{
                        font-size: 18px;
                        color: #787878;
                        margin-bottom: 10px;
                    }
                    h2{
                        font-size: 60px;
                        color: #000000;
                        margin-bottom: 50px;
                    }
                    .boutique-btn{
                        display: inline-block;
                        min-width: 170px;
                        height: 50px;
                        background-color: #0315ff;
                        padding: 0 40px;
                        color: #ffffff;
                        font-size: 12px;
                        text-transform: uppercase;
                        text-align: center;
                        vertical-align: middle;
                        font-weight: 600;
                        line-height: 50px;
                        letter-spacing: 1.5px;

                        &:hover{
                            background-color: #dc3545;
                        }
                    }
                }
            }
        }

    }
    
}

.bg-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


